<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot your password? | Lizys fileShare</title>
  <link rel="icon" type="image/png" sizes="32x32" href="/img/logo.png">
  <link href="/css/forgot.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="forgot-password">
      <form action="/forgot-password" method="POST">
        <div>
          <h2>Forgot your password?</h2>
          <p>Enter your email address and we'll send you a link to reset your password.</p>
        </div>

        <div>
          <label for="email">Email</label><br>
          <input type="email" name="email" id="email">
        </div>  

        <div>
          <input type="submit" value="Send link">
        </div>
      </form>
    </div>
  </div>
</body>

</html>