<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lizys fileShare | Log in</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/img/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="app-description">
            <h2>Lizys fileShare</h2>
            <p>Get unlimited access to files shared by people in your network</p>
        </div>
    
        <div class="login">
            <form action="/home" method="GET">
                <div class="form-title">
                    <h2>Log In</h2>
                    <p><span>Admin</span> user?</p>
                </div>
                <div>
                    <label for="email">Email</label><br>
                    <input type="email" name="email" id="email" required>
                </div>
                <div class="password-div">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" required>
                    <a href="/forgot-password">Forgot password?</a>
                </div>
                <button type="submit">Log in</button>
            </form>
    
            <div class="no-account">
                <p>Don't have an account? <a href="/register">Sign up</a></p>
            </div>
        </div>
    </div>

    <script src="/script/login.js"></script>
</body>
</html>

