* {
    box-sizing: border-box;
    margin: 0;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(173, 216, 230, 0.3);
}
.container {
    width: 70%;
    height: 70%;
}
.app-description {
    width: 60%;
    height: 70%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10%;
}
.app-description h2 {
    font-size: 40px;
    font-family: 'Kumbh Sans', sans-serif;
}
.app-description p {
    font-size: 24px;
    margin-top: 25px;
}
.login {
    height: 90%;
    width: 40%;
    float: right;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    border-radius: 8px;
    padding: 25px 41px;
    background: #FFF;
}
.login form {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.form-title {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.form-title p {
    font-size: 14px;
    letter-spacing: 0.5px;
    align-self: center;
}
.form-title span {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
#email,
#password {
    width: 100%;
    height: 32px;
    outline: none;
}
.password-div {
    margin-top: -10px;
    display: flex;
    flex-direction: column;
}
.password-div a {
    align-self: flex-end;
    margin-top: 2px;
    font-size: 14px;
    letter-spacing: 0.5px;
}
button {
    height: 32px;
    font-size: 14px;
    border: 0;
    border-radius: 5px;
    background: #339AF0;
    color: #FFF;
    cursor: pointer;
}

/* tablet */
@media only screen and (min-width: 481px) and (max-width: 1023px) {
    .container {
        width: 85%;
        height: 50%;
    }
    .app-description {
        width: 50%;
        height: 60%;
    }
    .login {
        height: 70%;
        width: 50%;
        padding: 25px 38px;
    }
}

/* mobile */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .container {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .app-description {
        width: 300px;
        height: auto;
        padding-right: 0;
    }
    .login {
        width: 300px;
        height: 380px;
        padding: 20px 24px;
        margin-top: 50px;
    }
    .app-description h2 {
        font-size: 36px;
        text-align: center;
    }
    .app-description p {
        font-size: 18px;
        margin-top: 15px;
        text-align: center;
    }
    .login form {
        gap: 26px;
    }
    #email,
    #password {
        height: 30px;
    }
    label,
    .no-account {
        font-size: 14px;
    }
    .password-div a {
        font-size: 13px;
        letter-spacing: 0.3px;
    }
}